$bottegaGreen: #00CB79;
$clearBlue: #45B0E5;
$mainGrey: #CFCFCF;
$darkGrey: #444444;
$primaryFont: 'Montserrat', sans-serif;

*,
*:before,
*:after {
  margin: 0;
}

html,
body {
  height: 100%;
}

.home {
  background-color: $darkGrey;
}

.header {
  color: white;
}

.card {
  height: 740px;
  width: 1250px;
  background-color: $mainGrey;
  box-shadow: 0 4px 30px 0 rgba(0,0,0, .50);
  border-radius: 8px;
}