$bottegaGreen: #00CB79;
$clearBlue: #45B0E5;
$mainGrey: #CFCFCF;
$darkGrey: #3b3b3b;
$primaryFont: 'Montserrat', sans-serif;

*,
*:before,
*:after {
  margin: 0;
}

html,
body {
  height: 100%;
}

.home {
  display: grid;
  justify-items: center;

  grid-template-rows: [header-s] 210px [header-e card-s] 995px [card-e];
}

.header {
  align-self: center;
}

.card {
  height: 740px;
  width: 1250px;
  box-shadow: 0 4px 30px 0 rgba(0,0,0, .50);
  border-radius: 8px;

  display: grid;
  grid-template-rows: 1fr 50px;

  &__inputs {
    background-color: skyblue;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
  }
}

.input {
  display: grid;
  grid-template-columns: [num-s] 26px [num-e input-s] 1fr [input-e];

  &__number {
    grid-column: num-s/num-e;
  }

  input {
    grid-column: input-s/input-e;
  }

  &__title {
    grid-column: input-s/input-e;
    margin-top: 8px;
    text-align: center;
  }
}