$bottegaGreen: #00CB79;
$clearBlue: #45B0E5;
$mainGrey: rgb(114, 114, 114);
$primaryFont: 'Montserrat', sans-serif;

*,
*:before,
*:after {
  margin: 0;
}

html,
body {
  height: 100%;
}

.home {
  position: relative;

  display: grid;
  justify-items: center;
  grid-template-rows: [header-s] 210px [header-e card-s] 995px [card-e];
}

.header {
  align-self: center;
  color: white;
  text-align: center;
  font-family: Montserrat;

  &__skew {
    transform: skewY(-10deg);
    z-index: -10;
    top: 0;
    left: 0;
    position: absolute;
    height: 600px;
    width: 100%;
    margin-top: -150px;
    background-color: $mainGrey;
    border-bottom: 15px solid $bottegaGreen;
  }

  h1 {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 36px;
  }

  p {
    color: rgba(255,255,255,0.75);
    width: 460px;
  }
}

.card {
  font-family: Montserrat;
  height: 740px;
  width: 1250px;
  box-shadow: 0 4px 30px 0 rgba(0,0,0, .50);
  background-color: white;
  border-radius: 8px;

  display: grid;
  grid-template-rows: 1fr 50px;

  &__inputs {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
  }
}

.input {
  display: grid;
  grid-template-columns: [num-s] 26px [num-e input-s] 1fr [input-e];
  grid-gap: 8px;

  text-align: center;

  &__number {
    grid-column: num-s/num-e;
    align-self: center;

    background-color: $bottegaGreen;
    color: white;
    font-size: 20px;
    padding-top: 3px;
    width: 30px;
    max-height: 30px !important;
    border-radius: 50%;
  }

  input {
    grid-column: input-s/input-e;

    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    width: 190px;

    &:focus {
      outline: none;
      border-bottom: 2px solid $bottegaGreen;
    }
  }

  &__title {
    grid-column: input-s/input-e;
    font-size: 13px;
  }
}